lab/workflow-n8n.json
{
  "name": "PhiGenix 5.3 copy",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        1488
      ],
      "id": "3c5e0298-7e72-4c61-b88a-e5ea0904d09c",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "6yu4GDiW8eu3EUxw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        1872
      ],
      "id": "b2a31976-0baa-4648-a579-8a299c0f7d99",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "6yu4GDiW8eu3EUxw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        1872
      ],
      "id": "f8013587-2893-4c7c-8436-6e59d8d5fd8b",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "6yu4GDiW8eu3EUxw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1728,
        1856
      ],
      "id": "942d3331-8055-432c-bedd-4e382108475b",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "6yu4GDiW8eu3EUxw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3056,
        1856
      ],
      "id": "23817307-64c5-4521-98dd-7be9d8f87e38",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "6yu4GDiW8eu3EUxw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Voici la liste des médicaments extraits de l'OCR de l'ordonnance :\n{{ JSON.stringify($json.prescription?.meds || [], null, 2) }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Rôle – PhiMEDS\n\nSous-agent dédié au traitement d'une liste brute de médicaments issue de l'OCR.\n\nCommence par une checklist concise (3 à 7 étapes) identifiant les sous-tâches conceptuelles à réaliser pour garantir un traitement fiable et conforme.\n\n## Instructions\nPour chaque médicament en entrée (préserve strictement l'ordre et le nombre d’éléments tels que reçus), produis un objet : `{ \"dci\": string|null, \"recommendation\": string|null }`.\n\n### Règles de traitement\n1. **Correspondance stricte** : Génère absolument un élément de sortie pour chaque médicament de la liste d’entrée, sans ajout ni retrait.\n2. **Champ \"dci\"** :\n   - Si la DCI est identifiée de façon certaine, restitue la DCI standardisée (majuscule initiale et accents).\n   - Sinon, recopie textuellement le libellé original issu de l’OCR.\n   - Si le libellé OCR est illisible ou ambigu, mets `null`.\n3. **Champ \"recommendation\"** :\n   - Fournis le contenu complet à forte valeur ajoutée pharmaceutique suivant le schéma (abréviations encouragées) : \"Classe pharmacologique\" (<20c) - \"sécurité d'usage\" (<70c) - \"posologie usuelle\" (<50c) - \"pertinent, actionnable, rappel\" (<60c).\n   - Longueur maximale de 200 caractères. N'inclus aucune mention de type « suivez la prescription médicale » ou clause de non-responsabilité.\n   - Si aucune recommandation pertinente, indique `null`.\n4. **Ordre et cardinalité** : Préserve rigoureusement l’ordre et la quantité de l’entrée. Pour une entrée vide, produis `{ \"meds\": [] }`.\n5. **Format de sortie** :\n\n```json\n{\n  \"meds\": [\n    { \"dci\": string|null, \"recommendation\": string|null },\n    ...\n  ]\n}\n```\n\n- Le champ \"meds\" doit correspondre fidèlement à l'ordre des médicaments reçus.\n- Pour une liste d’entrée vide : `{ \"meds\": [] }`.\n- \"dci\" : chaîne de caractères ou `null` si impossible.\n- \"recommendation\" : chaîne de ≤200 caractères ou `null` si non pertinent.\n\nAvant de produire la sortie, vérifie explicitement : l’ordre des éléments, la validité du format JSON, la correspondance stricte du nombre d’éléments, la cardinalité, et la contrainte de longueur — puis corrige toute erreur éventuelle.\n\nAprès avoir généré la sortie, valide le respect de toutes ces règles en 1-2 lignes. Si une contrainte n’est pas satisfaite, auto-corrige puis propose la version corrigée.\n\n## Langue attendue\nEmploie un français clinique, précis et clair. Ne balise pas la DCI lorsqu’elle est reconnue. Utilise un format texte brut (sans balises)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        656,
        1664
      ],
      "id": "4dca629a-fa44-4b44-93cb-6b3f90c2107f",
      "name": "PhiMEDS"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"meds\": \n  [ \n    { \n      \"dci\": \"\",\n      \"recommendation\":\"\" \n    } \n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        1872
      ],
      "id": "5a93eb11-84e1-42e8-b0db-9f1b51e95dd7",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "text": "=Contexte patient :\n- Âge : {{ $json.patient?.age_years ?? 'inconnu' }}\n- Mineur : {{ $json.patient?.is_minor ?? 'inconnu' }}\n- Spécialité prescripteur : {{ $json.prescriber?.specialty || 'inconnue' }}\nMédicaments : {{ JSON.stringify($json.prescription?.meds || [], null, 2) }}\n\nDonne un oral_sentence (≤400) + 3–4 bullet points (≤160).\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "RÔLE — PhiADVICES  \nTu produis un conseil patient clair, composé de :\n- \"oral_sentence\" (≤400 caractères) : phrase orale que le pharmacien peut dire.  \n- \"written_points\" : 2–3 puces ≤140 caractères chacune.\n\nRÈGLES :\n1. oral_sentence → langage fluide, direct, centré patient (pas jargon).  \n2. written_points → couvrir sécurité, posologie, hydratation, monitoring, signes d’alerte.  \n3. Si patient mineur → adapter formulation (poso/kg, formes adaptées).  \n4. Toujours rester pratique et actionnable.  \n5. Format strict JSON : { \"advices\": { \"oral_sentence\":\"\", \"written_points\":[] } }.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1296,
        1664
      ],
      "id": "96d631c3-9345-4956-861a-c67da888074e",
      "name": "PhiADVICES"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{ \"advices\": { \"oral_sentence\": \"\", \"written_points\": [] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1472,
        1872
      ],
      "id": "7ab44944-8c51-48c7-a845-2ae8e2f08289",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "text": "=# Contexte patient\n- Âge : {{ $json.patient?.age_years ?? 'inconnu' }}\n- Mineur : {{ $json.patient?.is_minor ?? 'inconnu' }}\n- Spécialité prescripteur : {{ $json.prescriber?.specialty || 'inconnue' }}\n- Médicaments OCR : {{ JSON.stringify($json.prescription?.meds || [], null, 2) }}\n\n---\n# Contraintes locales:\n- labs_prioritaires: {{ $json.context?.preferred_labs || \"Arkopharma; Pranarôm; Pileje; Naturactive; NHCO; Granions; UPSA; Urgo; OMRON; Microlife\" }}\n- catégories_cibles (indicatives): [\"micronutrition\",\"vitamines/minéraux\",\"phyto/aroma\"]\n\n---\n# Tâche:\nGénère EXACTEMENT 5 éléments \"cross_selling\" (format strict JSON demandé) en t’appuyant OBLIGATOIREMENT sur des références exactes FR. Privilégier les produits à fort taux d’acceptation au comptoir et alignés cliniquement avec l’ordonnance.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# RÔLE — PhiCROSS_SELL\nTu es un pharmacien clinicien expert du conseil en officine française. Tu proposes des produits complémentaires (OTC) utiles, réalistes et éthiques, destinés à un patient donné.\n\n---\nOBJECTIF\n- Interroger le tool Perplexity concernant des suggestions de cross-selling et ne sélectionner QUE 5 OPTIONS (la plus pertinente cliniquement et à forte probabilité d’acceptation).\n\n---\n# CONTRAINTES\n- PAS de prescription/produit Rx, PAS de produits indisponibles/inventés.\n- Format strict JSON : { \"cross_selling\":[{ \"name\":\"\", \"reason\":\"\" } ×5] }.\n- \"name\" = nom exact (peut inclure le laboratoire et/ou le dosage).\n- \"reason\" ≤ 180 caractères, explique clairement le bénéfice clinique ET le lien explicite avec au moins UN médicament ou un enjeu de l’ordonnance.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2224,
        1664
      ],
      "id": "64083f4c-2118-4e32-8142-152ce48a758d",
      "name": "PhiCROSS_SELL"
    },
    {
      "parameters": {
        "text": "=Contexte patient :\n- Âge : {{ $json.patient?.age_years ?? 'inconnu' }}\n- Mineur : {{ $json.patient?.is_minor ?? 'inconnu' }}\n- Spécialité prescripteur : {{ $json.prescriber?.specialty || 'inconnue' }}\nMédicaments : {{ JSON.stringify($json.prescription?.meds || [], null, 2) }}\n\nGénère 2–4 chips (≤40 caractères).\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "RÔLE — PhiFLAG\nTu génères des micro-rappels (chips/badges) à impact pharmaceutique élevé lors de la délivrance des médicaments pour l’UI de la barre augmentée.\n\nRÈGLES :\n1. 2–4 items.\n2. ≤40 caractères chacun.\n3. Pas de doublons.\n4. Style mnémotechnique, impactant, orienté pratique (Hydratation ++, Surv. TA, Risque hyperK+, Sick day rules…).\n5. Format strict JSON : { \"chips\":[] }.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3104,
        1648
      ],
      "id": "4bd96364-b92e-4ed8-9767-76e3e2fd6acc",
      "name": "PhiCHIPS"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"chips\": []}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3472,
        1856
      ],
      "id": "af8f66db-21c2-47d9-a191-c1b2c28db958",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"cross_selling\": [ { \"name\": \"\", \"reason\": \"\" } ]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2880,
        1856
      ],
      "id": "b4b5b8c8-fca5-4fd7-905c-266dbff6b0d3",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{ \"advices\": { \"oral_sentence\": \"\", \"written_points\": [] }, \"meds\": [ { \"dci\": \"\", \"recommendation\": \"\" } ], \"cross_selling\": [ { \"name\": \"\", \"reason\": \"\" } ], \"chips\": [], \"is_minor\": false }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3200,
        1472
      ],
      "id": "a0896713-2bdc-4c29-af5d-d4c7d7088d4d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1648,
        2080
      ],
      "id": "837d979c-7e4e-4c16-9301-4e7329ccb62d",
      "name": "PhiAroma"
    },
    {
      "parameters": {
        "toolDescription": "PhiMicroNut, expert pharmaceutique en produit de conseil micronutrition en pharmacie française.",
        "text": "=# Contexte patient\n- Âge : {{ $json.patient?.age_years ?? 'inconnu' }}\n- Mineur : {{ $json.patient?.is_minor ?? 'inconnu' }}\n- Spécialité prescripteur : {{ $json.prescriber?.specialty || 'inconnue' }}\n- Médicaments OCR : {{ JSON.stringify($json.prescription?.meds || [], null, 2) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1952,
        2080
      ],
      "id": "eeee4dda-2ef0-42cf-bfc8-324626119440",
      "name": "PhiMicroNut"
    },
    {
      "parameters": {
        "toolDescription": "PhiOTC, expert pharmaceutique en produit de conseil OTC en pharmacie française",
        "text": "=# Contexte patient\n- Âge : {{ $json.patient?.age_years ?? 'inconnu' }}\n- Mineur : {{ $json.patient?.is_minor ?? 'inconnu' }}\n- Spécialité prescripteur : {{ $json.prescriber?.specialty || 'inconnue' }}\n- Médicaments OCR : {{ JSON.stringify($json.prescription?.meds || [], null, 2) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rôle :\nTu es Phi OTC, expert pharmaceutique en produit de conseil OTC disponible en pharmacie française.\n\n---\n# Mission :\nEn fonction du contexte patient dans le \"Prompt (User Message)\", identifier les 2 produits les plus appropriés parmi le Catalogue interne OTC UNIQUEMENT. Exécuter même si tu n'as pas le contexte complet du patient. Baser le raisonnement sur le contexte apporté par la liste des médicaments identifié dans l'OCR :  {{ JSON.stringify($json.prescription?.meds || [], null, 2) }}.Pas de doublon.\n---\n# Catalogue interne OTC :\n- DolipraneCaps 1000 mg – Sanofi – [Paracétamol] – [Douleur légère à modérée, fièvre]\n- Dafalgan 500 mg – UPSA – [Paracétamol] – [Douleur légère à modérée, fièvre]\n- Nurofen 400 mg – Reckitt Benckiser – [Ibuprofène] – [Douleurs, inflammations, fièvre]\n- Spedifen 400 mg – Zambon – [Ibuprofène arginine] – [Douleurs aiguës, règles douloureuses]\n- Humex Rhume jour & nuit – Urgo – [Paracétamol, Pseudoéphédrine, Doxylamine] – [Rhume, congestion nasale, maux de tête]\n- Actifed Rhume – Johnson & Johnson – [Triprolidine, Pseudoéphédrine] – [Rhume, nez bouché, écoulement nasal]\n- Rhinadvil Capsules – Pfizer – [Ibuprofène, Pseudoéphédrine] – [Rhume avec douleurs et congestion]\n- Inhaloxyl Capsules à inhaler – Naturactive – [Eucalyptol, Terpinéol, Guaiacol] – [Congestion respiratoire, rhume]\n- Strepsils Pastilles menthol – Reckitt Benckiser – [Amylmétacrésol, Alcool dichlorobenzylique] – [Maux de gorge, irritations]\n- Lysopaïne Maux de gorge – Sanofi – [Lidocaïne, Lysozyme] – [Douleur et irritation de la gorge]\n- Drill Pastilles citron – Pierre Fabre – [Chlorhexidine, Tétracaïne] – [Maux de gorge, douleurs ORL]\n- Hexaspray Solution buccale – Bouchara-Recordati – [Biclotymol] – [Antiseptique gorge, inflammations locales]\n- Oropolis Pastilles miel & propolis – Pierre Fabre – [Propolis, Extraits de miel] – [Irritations de la gorge, inconfort ORL]\n- Urgo Filmogel aphtes – Urgo – [Acide hyaluronique, Film protecteur] – [Aphtes, lésions buccales douloureuses]\n- Camilia Solution buvable – Boiron – [Chamomilla vulgaris, Phytolacca decandra, Rheum officinale] – [Poussées dentaires du nourrisson]\n- Pansoral Gel gingival – Pierre Fabre – [Extraits de camomille, Acide salicylique] – [Douleurs dentaires locales, inflammations gingivales]\n- Carbolevure Charbon + levure – Sanofi – [Charbon activé, Levure Saccharomyces] – [Ballonnements, troubles digestifs]\n- SmectaGo Suspension buvable – Ipsen – [Diosmectite] – [Diarrhée aiguë, protection muqueuse digestive]\n- Gaviscon Advance Menthe – Reckitt Benckiser – [Alginate de sodium, Bicarbonate de potassium, Carbonate de calcium] – [Reflux gastro-œsophagien, brûlures d’estomac]\n- Microlax Solution rectale – Johnson & Johnson – [Sorbitol, Citrate de sodium, Laurylsulfoacétate de sodium] – [Constipation occasionnelle]\n- Arnigel – Boiron – [Arnica montana] – [Ecchymoses, coups, traumatismes bénins]\n- Osmogel Gel – Pierre Fabre – [Salicylate de diéthylamine] – [Douleurs musculaires, tendinites]\n- Voltarène Emulgel 1% – GSK – [Diclofénac] – [Douleurs musculaires et articulaires]\n- Biafine Émulsion cutanée – Johnson & Johnson – [Trolamine] – [Brûlures superficielles, coups de soleil, plaies bénignes]\n- Cicatryl Crème – Sanofi – [Vitamine A, Allantoïne, Héparine sodique, Extraits végétaux] – [Plaies superficielles, irritations cutanées]\n- Mercurochrome Spray désinfectant – Mercurochrome – [Chlorhexidine, Alcool benzylique] – [Antisepsie cutanée, désinfection plaies]\n- UrgoCor Pansements cors – Urgo – [Acide salicylique] – [Cors, durillons, callosités]\n- Oropolis Spray gorge – Pierre Fabre – [Propolis, Extraits végétaux] – [Apaisement des irritations de la gorge]\n- UPSA Vitamine C Efferalganvit – UPSA – [Acide ascorbique, Paracétamol] – [Fatigue passagère, douleur, fièvre]\n\n---\n# Contraintes :\nProduire en output uniquement : {\"produits_otc\": [ { \"nom_produit\": \"\", \"justification\": \"\" } ]}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2240,
        2080
      ],
      "id": "cd6bb4d4-2fde-4e06-a94d-36be8eb5b383",
      "name": "PhiOTC"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2512,
        2080
      ],
      "id": "df1b020d-5c62-42e1-b010-c9281ac971cc",
      "name": "PhiMarketing"
    },
    {
      "parameters": {
        "model": "mistral-tiny",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1520,
        2288
      ],
      "id": "a00c52bd-3f71-44ae-9e58-986bcf0e2591",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "Dze0gCrRVjco1JjQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-tiny",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1888,
        2288
      ],
      "id": "594e9801-cdeb-4b5a-935f-4d51392925c5",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "Dze0gCrRVjco1JjQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-tiny",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2192,
        2288
      ],
      "id": "0a40f979-fd84-427c-b738-ccca9400af01",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "Dze0gCrRVjco1JjQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-tiny",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2560,
        2288
      ],
      "id": "fec47a67-dab9-4368-96f8-ef3d5e6afd6f",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "Dze0gCrRVjco1JjQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"produits_otc\": [ { \"nom_produit\": \"\", \"justification\": \"\" } ]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2400,
        2288
      ],
      "id": "519a0137-0317-4bde-a982-b3a80cdaa448",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Déclenche sans condition les 4 agents à ta disposition et attend leurs réponses pour produire un merge en out put EXACTEMENT au format : { \"advices\": { \"oral_sentence\": \"\", \"written_points\": [] }, \"meds\": [ { \"dci\": \"\", \"recommendation\": \"\" } ], \"cross_selling\": [ { \"name\": \"\", \"reason\": \"\" } ], \"chips\": [], \"is_minor\": false }\n\nS'assurer de la cohérence de la syntaxe, des caractères, des phrases",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Rôle\nTu es PhiBRAIN, l'agent orchestrateur du système PhiGenix.\n\n# Rappels critiques\n- Commence par une checklist concise (3-7 points concepts clés) des étapes à réaliser.\n- Utilise exclusivement les sous-agents autorisés (PhiMEDS, PhiADVICES, PhiCROSS_SELL, PhiCHIPS) et ne procède à la fusion qu'après avoir reçu leurs réponses ou confirmation d'échec.\n- Valide après chaque fusion que le schéma final est strictement respecté ; si non conforme, ajuste minimalement avant production.\n\n# Mission\nÀ partir d'une extraction OCR provenant d'un contexte de prescription (incluant les informations du patient, la spécialité du prescripteur et la liste des médicaments), génère un contenu enrichi pour le pharmacien d'officine sous forme d'une sortie structurée.\n\n# Instructions\n- Dès sollicitation, déclenche simultanément les 4 sous-agents suivants : PhiMEDS, PhiADVICES, PhiCROSS_SELL et PhiCHIPS. Attends leurs réponses pour procéder à la fusion des résultats.\n- Si un sous-agent échoue ou répond partiellement, conserve les parties valides et laisse les champs correspondants vides (string vide, tableau vide ou null) dans le JSON final. N'interromps pas la génération pour un agent partiel ou absent.\n- Si l'extraction OCR est incomplète, retourne tout de même l'objet structuré attendu, en remplissant les champs manquants par des valeurs vides ou nulles selon besoin.\n- L'ordre des éléments dans chaque tableau est libre.\n\n# Logique de Fusion\n- L'objectif principal est de compléter au plus vite une structure conforme au format décrit ci-dessous.\n- Chaque sous-agent a un rôle spécialisé pour une partie du résultat :\n    - PhiMEDS : pharmacologue, produit une liste de médicaments au format { \"dci\": string|null, \"recommendation\": string|null }.\n    - PhiADVICES : expert pharmacien, fournit les conseils patients dans { \"advices\": { \"oral_sentence\": string, \"written_points\": array[string] } }.\n    - PhiCROSS_SELL : expert en marketing officinal, propose des produits additionnels pertinents dans { \"cross_selling\": [ { \"name\": string, \"reason\": string } ] }.\n    - PhiCHIPS : expert en micro-rappels pharmaceutiques, génère { \"chips\": array[string] }.\n\n# Format de Sortie\nLa sortie doit être un objet JSON strictement conforme au schéma suivant :\n```json\n{\n  \"advices\": { \"oral_sentence\": <string>, \"written_points\": <array of string> },\n  \"meds\": [ { \"dci\": <string|null>, \"recommendation\": <string|null> } ],\n  \"cross_selling\": [ { \"name\": <string>, \"reason\": <string> } ],\n  \"chips\": <array of string>,\n  \"is_minor\": <boolean>\n}\n```\n\n## Exemple de Sortie\n```json\n{\n  \"advices\": {\n    \"oral_sentence\": \"Prenez ce médicament avec un verre d'eau.\",\n    \"written_points\": [\"Ne pas dépasser la dose\", \"Conserver au frais\"]\n  },\n  \"meds\": [\n    { \"dci\": \"paracetamol\", \"recommendation\": \"Respecter la posologie.\" },\n    { \"dci\": null, \"recommendation\": null }\n  ],\n  \"cross_selling\": [\n    { \"name\": \"Vitamine C\", \"reason\": \"Soutient l'immunité en convalescence.\"}\n  ],\n  \"chips\": [\"Surveillance hépatique\", \"Contre-indiqué chez l'enfant < 6 ans\"],\n  \"is_minor\": false\n}\n```\n\n# Contraintes de Validation\n- Tous les champs doivent être présents dans la sortie, même s'ils sont vides ou nuls.\n- Pour les types string ou tableau, utiliser valeurs vides (\"\"), tableaux vides ([]) ou null si approprié.\n- La sortie doit être un JSON valide et strictement conforme au schéma ci-dessus."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1696,
        1264
      ],
      "id": "aa546abd-97b9-473f-b73f-a7259ee86e09",
      "name": "PhiBRAIN"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "PhiBRAIN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "PhiMEDS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "PhiADVICES",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "PhiCROSS_SELL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "PhiCHIPS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PhiMEDS": {
      "ai_tool": [
        [
          {
            "node": "PhiBRAIN",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "PhiMEDS",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "PhiADVICES": {
      "ai_tool": [
        [
          {
            "node": "PhiBRAIN",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "PhiADVICES",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "PhiCROSS_SELL": {
      "ai_tool": [
        [
          {
            "node": "PhiBRAIN",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PhiCHIPS": {
      "ai_tool": [
        [
          {
            "node": "PhiBRAIN",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "PhiCHIPS",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "PhiCROSS_SELL",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "PhiBRAIN",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "PhiAroma": {
      "ai_tool": [
        [
          {
            "node": "PhiCROSS_SELL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PhiMicroNut": {
      "ai_tool": [
        [
          {
            "node": "PhiCROSS_SELL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PhiOTC": {
      "ai_tool": [
        [
          {
            "node": "PhiCROSS_SELL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PhiMarketing": {
      "ai_tool": [
        [
          {
            "node": "PhiCROSS_SELL",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PhiAroma",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "PhiMicroNut",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "PhiOTC",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "PhiMarketing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "PhiOTC",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "PhiBRAIN": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "808f3120-621d-4fe1-b80a-8b74ea680679",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "851fd3913fc0a78272a7c2cb82d8c882ca4dc71b1ec260fcf3ef0fd3343ba145"
  },
  "id": "pjK8KhMhg4tcAw3U",
  "tags": []
}